*{
    font-family: Arial, Helvetica, sans-serif;
}


.carousel {
    overflow: hidden; /* Oculta el contenido que se desborde */
    max-width: 100%; /* Ajusta el ancho máximo al 100% */
}

/* Ajusta el ancho de los elementos del carrusel al 100% */
.carousel-height {
    height: 550px; /* Altura deseada */
}
.btnmenu{
    margin-bottom: 600px;
}